/* Estilo para el contenedor del h2 y el párrafo */
main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center; /* Centra el texto horizontalmente */
  width: 80%;
  height: 40%;
}

/* Estilo para el h2 */
main h2 {
  margin-top: 15px; /* Mantiene el h2 15px más abajo */
  color: crimson;
}

/* Selector para modificar el estilo del texto del párrafo */
main div p {
  color: rgb(218, 217, 233);
  margin: 40px 40px 100px; /* Ajusta el margen inferior para mover el párrafo hacia arriba */
  border: 1px solid red;
  padding: 15px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(41, 79, 112);
  position: relative;
  z-index: 1;
  overflow: hidden;
  clip-path: inset(0 0 50% 0); /* Oculta la mitad inferior del párrafo */
  transition: clip-path 1.5s; /* Transición para animar el clip-path */
}

/* Cuando el mouse está sobre el párrafo, revela gradualmente la mitad inferior */
main div p:hover {
  clip-path: inset(0 0 0 0); /* Restablece el clip-path para mostrar todo el texto */
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente el contenido */
  justify-content: start; /* Alinea el contenido en la parte superior */
  width: 70%;
  height: 20%;
  margin: 100px; /* Ajusta el margen para centrar verticalmente */
}

main section span {
  color: rgb(223, 9, 9);
  margin-top: -180px; /* Mantiene el span en su posición actual */
  display: block;
  padding: 5px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main section button {
  background-color: rgb(41, 79, 112);
  color: rgb(203, 216, 23); /* Color del texto */
  padding: 10px 20px; /* Tamaño del botón */
  border: 2px solid #072f49; /* Borde de color */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al apuntar */
  margin-top: 0px; /* Mantiene el botón en su posición actual */

  /* Efecto de transición al apuntar */
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

main section button:hover {
  background-color: #2980b9;
}

main section button:focus {
  outline: none; /* Elimina el borde predeterminado al hacer clic */
  box-shadow: 0 0 5px #3498db; /* Sombra alrededor del botón */
}

/* Efecto de presionar */
main section button:active {
  transform: scale(0.95); /* Escala el botón al 95% cuando se presiona */
}
/* Aplicar estilos a pantallas con un ancho máximo de 768px (pantallas de tipo celular) */
@media (max-width: 768px) {
  main div p {
    clip-path: inset(0 0 0 0); /* Restablece el clip-path para mostrar todo el texto en pantallas pequeñas */
    transition: none; /* Desactiva la transición en pantallas pequeñas */
  }
}
