/--Normalización/

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: space-between;
}

/* Para todas las páginas */

header {
  min-height: 5vh;
}

main {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
 
 
}

section span a {
  color: #e39403;
}
.colorin {
  color: brown;
  text-align: center;
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(252, 219, 3, 1) 0%,
    rgba(253, 235, 116, 1) 100%,
    rgba(255, 255, 255, 1) 100%
   
  );
 
}

footer {
  min-height: 3vh;
  background-color: #746b6b;
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
 

}

/* Columnas del footer */
.column {
  width: calc(33.33% - 20px);
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  text-align: center;
  box-sizing: border-box;
 
  
}
/Footer  version celular/
@media (max-width: 479px) {
  footer{
    flex-direction: column;
  }
.column {
  width: auto;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
  margin-top: 5px;
  margin-right: 0px;
}
}
/*mantener proporcion de imagen */
.column-img{
 object-fit: contain;
 margin-top: 5px;
 margin-bottom: 5px;
 height: 32px;

}
.column:last-child {
  margin-right: 0;
}

.column h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* navbar */
.navbar {
  background-color: #746b6b;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Logo */
.logo img {
  width: 100px; /* Ajusta el tamaño de acuerdo a tu logo */
  height: auto;
}

/* Menú hamburguesa (mobile first) */
.menu-toggle {
  display: none;
}

.menu-icon {
  color: white;
  font-size: 35px;
  cursor: pointer;
  margin-right: 5%; /* Ajusta el espacio a la derecha del icono */
}

/* Lista de navegación (oculta inicialmente) */
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none; /* Oculta la lista por defecto en dispositivos móviles */
}

.nav-list li {
  margin-right: 20px;
}

.nav-list a {
  text-decoration: none;
  color: rgba(232, 227, 245, 0.74);
  transition: color 0.5s;
}

.frase-container {
  color: white;
}
.container a {
  text-decoration: none;
  color: white;
}

.info-form a {
  text-decoration: none;
  color: white;
}

/* lista en pagina principal con categorias */
ol {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

/* Estilos hover y active para la lista del menú hamburguesa */
.nav-list a:hover {
  color: rgba(252, 219, 3, 1);
}

/* Mostrar la lista de navegación cuando el menú hamburguesa está activo */
.menu-toggle:checked + .menu-icon + .nav-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 105px; /* Ajusta la posición */
  right: 0;
  background-color: #746b6b;
  width: 100%; /* Ocupa todo el ancho */
  text-align: center; /* Centra el contenido */
  padding: 10px; /* Espacio interior para centrar los elementos */
  z-index: 3; /posiciona por delante de cualquier elemento el menu/
}

.menu-toggle:checked + .menu-icon + .nav-list li {
  margin: 10px 0;

  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Inicialmente,  menú  completamente transparente */
  }
  to {
    opacity: 1; /* Al final,  menú  completamente visible */
  }
}

/* Mostrar la lista de navegación en dispositivos más grandes */
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  main p {
    color: brown;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  section h2 {
    color: crimson;
    font-family:Cambira, "Times New Roman", Times, serif;
    font-weight: bold;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
  }

  .nav-list li {
    margin-right: 20px;
  }

  .nav-list a {
    font-size: 18px;
  }

  .menu-icon {
    display: none;
  }
}
/version tablet/
@media (min-width: 480px) and (max-width: 1023px) {
  main p {
    color: brown;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  section h2 {
    color: crimson;
    font-family:Cambira, "Times New Roman", Times, serif;
    font-weight: bold;
  }


}
/Version celular/
@media (max-width: 479px) {
  main p {
    color: brown;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  section h2 {
    color: crimson;
    font-family:Cambira, "Times New Roman", Times, serif;
    font-weight: bold;
  }

}
/ESTILO DE PÁGINA INDEX/
.contenedor-index{
  margin-bottom: 20px;

}

/* ESTILOS DE PÁGINA DE PRODUCTO */

.carousel-caption {
  background-color: #b3b0b0;
}

/* Línea de carrusel o slider */
.linea {
  max-width: 100%;
  height: 15px;
  background-color: #746b6b;
}

.product-card p {
  font-size: 20px;
  color: white;
}
.card {

  max-width: 600px;
  
  }
/version mobile/
@media (max-width: 479px) {
  .product-card {

    max-width: 300px;
    } 
    #carouselExampleCaptions{
      display: none;
    }


}
/version tablet/
@media (min-width: 480px) and (max-width: 1023px) {
  .card {

    max-width: 310px;
    
    } 


}
/* ESTILOS PÁGINA DE CONTACTO */

.container-form {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px;
  
}

.container-form h2 {
  margin-bottom: 15px;
  font-size: 35px;
}
.container-form p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.container-form a {
  font-size: 15px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
}
.container-form a i {
  color: orange;
  margin-right: 10px;
}
.container-form form .campo,
textarea {
  display: flex;
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}
.container-form form textarea {
  max-width: 530px;
  min-width: 530px;
  min-height: 140px;
  max-height: 150px;
}
.container-form .btn-enviar {
  margin-top: 5px;
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: orange;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}
.container-form .btn-enviar:hover {
  background: #e39403;
}
/tablet/
@media (min-width: 480px) and (max-width: 1023px) {
  .container-form {
    width: 100%;
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 90px;
    overflow: hidden;
    padding-left: 8px;
  }
  .container-form form .campo,
  textarea {
  width: 95%;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}
.container-form form textarea {
  max-width: 485px;
  min-width: 450px;
  min-height: 110px;
  max-height: 100px;
}

}
/celular/
@media (max-width: 479px)  {
  .container-form {
    width: 100%;
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 90px;
    overflow: hidden;
    padding-left: 8px;
  }
  .container-form form .campo,
  textarea {
  width: 95%;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}
.container-form form textarea {
  max-width: 300px;
  min-width: 250px;
  min-height: 110px;
  max-height: 100px;
}

}
/* ESTILOS LANDING PAGE */

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px; /* Ajusta la altura según tus necesidades */
  overflow: hidden;
}

.carousel .frase-container {
  width: 100%;
  height: auto;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  font-size: 20px;
}

/version mobile/
@media (max-width: 479px) {
  .carousel-container {

    max-width: 300px;
    } 
    #carousel-container{
      display: none;
    }
}

@keyframes carouselAnimation {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(-100%);
  }
}

/* ESTILOS LOGIN PAGE */

/aplicar diseño caja div/
.div__login {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width:auto;
  padding: 40px;
  background: rgba(0, 0, 0, 0.58);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(250, 237, 39, 0.7);
  border-radius: 10px;
}

.div_login .div_login-input {
  position: relative;
}
.div__login h1 {
  margin: 0 0 30px;
  padding: 0;
  color: yellow;
  text-align: center;
  font-family: "Roboto Condensed";
}
/Diseño y posicion de los inputs/
.div_login .div_login-input {
  position: relative;
  margin-right: -140px;
  left: -30px;
}
.div_login .div_login-input input {
  width: 80%;
  padding-top: 8px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 65px;
  margin-left: 5px;
  margin-top: 2px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.div_login .div_login-input label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px -10px;
  font-size: 16px;
  margin-left: 10px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
/Animacion label texto/
.div_login .div_login-input input:focus ~ label,
.div_login .div_login-input input:valid ~ label {
  top: -20px;
  left: 0;
  color: yellow;
  font-size: 12px;
}
/diseño boton ingreso/

.buton {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  color: #faed27;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  background: none;
  border: none;
  margin-top: 30px;
  letter-spacing: 3px;
  overflow: hidden;
}

.buton {
  margin-right: 50px;
}

.registarse {
  text-decoration: none;
  display: inline-block;
  padding: 10px 5px;
  border-radius: 10px;
  position: relative;
  color: #fff;
  margin-left: 12px;
  margin-right: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/Efecto boton registro/
.registarse:hover {
  cursor: pointer;
  color: #fff;
  background: rgb(250, 237, 39, 0.7);
}

/HOVER EFECTO BOTON INGRESAR/
.buton:hover {
  transition-delay: 1s;
  background: rgb(250, 237, 39, 0.7);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.buton span {
  position: absolute;
  display: block;
}
#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #faed27);
}
.buton:hover #span1 {
  left: 100%;
  transition: 1s;
  color: #fff;
}
#span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #faed27);
}
.buton:hover #span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
#span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #faed27);
}
.buton:hover #span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
#span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #faed27);
}
.buton:hover #span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

/MODAL REGISTRO/
.modal-content {
  font-family: "Roboto Condensed";
}
.modal-body {
  display: flex;
  flex-direction: column;
  background-color:#e6e62f;
  color: #000;
}

.modal-header {
  background-color: #746b6b;
}

.modal-footer {
 
  font-size: 1em;
}

/responsive mobile/
@media (max-width: 479px) {
  .div__login {
    position: absolute;
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 35px;
    background: rgba(0, 0, 0, 0.58);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(250, 237, 39, 0.7);
    border-radius: 10px;
  }
 
 /Diseño y posicion de los inputs/
.div_login .div_login-input {
  position: relative;
  left: -10px;
  margin-right: -50px;
}

.div_login .div_login-input input {
  width: 80%;
  padding-top: 8px 0;
  font-size: 12px;
  color: #fff;
  margin-bottom: 65px;
  margin-left: 5px;
  margin-top: 2px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.div_login .div_login-input label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px -10px;
  font-size: 14px;
  margin-left: 10px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
  /diseño boton ingreso/

.buton {
  position: relative;
  display: flex;
  padding: 5px 2px;
  color: #faed27;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  background: none;
  border: none;
  margin-top: 10px;
  letter-spacing: 2px;
  overflow: hidden;
 
}

.buton {
  margin-right: 8px;
}

.registarse {
  text-decoration: none;
  display: flex;
  padding: 5px 2px;
  border-radius: 10px;
  position: relative;
  color: #fff;
  margin-left: 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  
}
.div-botones{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: first baseline;
  margin-left: 5px;
}
}