<div class="container mb-5">
    <div class="carousel-container" id="carousel-container">
      <div class="carousel">
        <div class="frase-container"></div>
      </div>
    </div>
  </div>
  <!--<div class="container">
  <section>
      <br><h2 class="text-center"><a href="./Quienes.html">Quienes Somos</a></h2>
    </section>
  </div>
  <div class="container">
    <section>
      <br><h2 class="text-center"><a href="./Productos.html">Productos</a></h2>
      <ul class="list-productos text-center">
        <li>
          <figure>
            <button id="boton-romance" onclick=" window.location.href='productos.html'"
              onclick="mostrarLibros('Romance')" class="boton-novedades"></button>
            <figcaption>Romance</figcaption>
          </figure>
        </li>


        <li>
          <figure>
            <button id="boton-infantiles" onclick=" window.location.href='productos.html'"
              onclick="mostrarLibros('Infantiles')" class="boton-infantiles"></button>
            <figcaption>Infantiles</figcaption>
          </figure>
        </li>


        <li>
          <figure>
            <button id="boton-ficcion" onclick=" window.location.href='productos.html'"
              onclick="mostrarLibros('Ficción')" class="boton-ficcion"></button>
            <figcaption>Ficción</figcaption>
          </figure>
        </li>


        <li>
          <figure>
            <button id="boton-filosofia" onclick=" window.location.href='productos.html'"
              onclick="mostrarLibros('Filosofia y Religion')" class="boton-filosofia"></button>
            <figcaption>Filosofia y Religion</figcaption>
          </figure>
        </li>
      </ul>
    </section>
  </div>
  <div class="container">
  <section class="content localization">
    <br><h2 class="text-center"><a href="./Contact.html">Encontranos</a></h2>
    <p class="text-center">Av.Colon 350, Córdoba, Argentina</p>
    <figure class="map text-center">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6810.162386358719!2d-64.188053!3d-31.411889!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94329878c0a6ed7b%3A0x8bf3fafe13a10e62!2sAv.%20Col%C3%B3n%20350%2C%20X5022%20C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1693860118832!5m2!1ses!2sar"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </figure>
  </section>
</div>
<div class="container">
  <section class="login">
    <br><h2 class="text-center"><a href="./Login.html">Registrate</a></h2>
    <p class="text-center">Te invitamos a formar parte del selecto mundo de los lectores! Registra tu usuario para recibir novedades y/o
      realizar compras en nuestro sitio</p>
  </section>
</div>-->
<div class="container-lg contenedor-index">
  <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col-6 col-md">
          <div class="card text-bg-secondary">
              <img src="./frontend/assets/Imagenes/LibroSlider1.jpg" class="card-img-top" alt="¿Quiénes somos?">
              <div class="card-body">
                  <h5 class="card-title text-center"><a href="./Quienes.html">Nosotros</a></h5>
                  <p class="card-text"></p>
              </div>
          </div>
      </div>
      <div class="col-6 col-md">
          <div class="card text-bg-secondary">
              <img src="./frontend/assets/Imagenes/LibroSlider2.jpg" class="card-img-top" alt="Nuestra selección">
              <div class="card-body">
                  <h5 class="card-title text-center"><a href="./Productos.html">Catalogo</a></h5>
                  <p class="card-text"></p>
              </div>
          </div>
      </div>
      <div class="col-6 col-md">
          <div class="card text-bg-secondary">
              <img src="./frontend/assets/images/mapa.png" class="card-img-top" alt="Contacto">
              <div class="card-body">
                  <h5 class="card-title text-center"><a href="./Contact.html">Contacto</a></h5>
                  <p class="card-text"></p>
              </div>
          </div>
      </div>
      <div class="col-6 col-md">
          <div class="card text-bg-secondary">
              <img src="./frontend/assets/Imagenes/LibroSlider3.jpg" class="card-img-top" alt="Registro">
              <div class="card-body">
                  <h5 class="card-title text-center"><a href="./Contact.html">Registro</a></h5>
                  <p class="card-text"></p>
              </div>
          </div>
      </div>
  </div>
</div>