<!DOCTYPE html>
<html lang="es">

<head>
  <link rel="shortcut icon" href="../assets/favicon-32x32.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de Contacto</title>
  <link rel="stylesheet" href="../styles/estilos.css">
  <link rel="stylesheet" href="../styles/Productos.css">
  <link href="https://fonts.cdnfonts.com/css/roboto-condensed" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="logo">
        <img src="../assets/2.png" alt="Logo de la empresa">
      </div>
      <input type="checkbox" id="menu-toggle" class="menu-toggle">
      <label for="menu-toggle" class="menu-icon">&#9776;</label>
      <ul class="nav-list">
        <li><a href="./index.html">Home</a></li>
        <li><a href="./Quienes.html">Quiénes Somos</a></li>
        <li><a href="./Productos.html">Nuestros Productos</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="./Login.html">Login</a></li>
      </ul>
    </nav>
  </header>
  <div class="container-form">
    <div class="info-form">
      <h2>Contáctanos</h2>
      <p></p>
      <p></p>
      <p>Por favor complete el siguiente formulario o comuníquese con nosotros por los siguientes medios:</p>
      <a href="#"><i class="fa fa-phone"></i> 351-456-789</a>
      <a href="#"><i class="fa fa-envelope"></i> email: mercadolibros@gmail.com</a>
      <a href="#"><i class="fa fa-map-marked"></i> Ciudad:Cordoba, Pais:Argentina</a>
      <a href="#"><i class="fa fa-facebook"></i> Facebook</a>
      <a href="#"><i class="fa fa-instagram"></i> Instagram</a>
      <a href="#"><i class="fa fa-twitter"></i> Twitter</a>
      <a href="#"><i class="fa fa-linkedin"></i> Linkedin</a>
    </div>

    <form action="#" autocomplete="off">
      <input type="text" name="nombre" placeholder="Tu Nombre" class="campo">
      <input type="email" name="email" placeholder="Tu Email" class="campo">
      <textarea name="mensaje" placeholder="Tu Mensaje..."></textarea>
      <input type="submit" name="enviar" value="Enviar Mensaje" class="btn-enviar">
    </form>
  </div>
  <footer>
    <div class="column">
      <h3 class="listFoot1">Contactenos</h3>

      <i class="bi bi-facebook"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-whatsapp"></i><br>
      <p><span>&#187;</span> Telefono: 0800-que te importa.<br>
        <span>&#187;</span> Mail: quelibrazo@gmail.com <br>
        <span>&#187;</span> Nuestros Hoarios <br>
        <span>&#187;</span> Lunes a viernes:9:00 hs a 19:00 hs<br>
        <span>&#187;</span> Sabados: De 9:00 hs a 14:00 hs<br>
        <span>&#187;</span> Calle: Caseros & Cañada.<br>
        <span>&#187;</span> Còrdoba-Argetina año 2023.

      </p>


    </div>
    <div class="column">
      <h3>Forma de pago</h3>
      <img src="../assets/Imagenes/pagos.png" alt="" width="200" height="30">
      <p><span>&#187;</span> Envios a todo el pais.<br>
        <span>&#187;</span> El costo de envio depende<br>
        <span>&#187;</span> de la ciudad o provincia<br>
        <span>&#187;</span>Politica de privacidad
      </p>
    </div>
  </footer>
</body>

</html>