/*--Normalización*/

header{
  min-height: 5vh;
}

main{
  min-height: 80vh;
}

footer{
  min-height: 10vh;
}

/*Centrar contenido del div*/
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Condensed";
}
/*background de fondo*/
main {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(252, 219, 3, 1) 0%,
    rgba(253, 235, 116, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
}
/*aplicar diseño caja div*/
.div__login {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.58);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(250, 237, 39, 0.7);
  border-radius: 10px;
}
.div__login .div__login-input {
  position: relative;
}
.div__login h1 {
  margin: 0 0 30px;
  padding: 0;
  color: yellow;
  text-align: center;
  font-family: "Roboto Condensed";
}
/*Diseño y posicion de los inputs*/
.div__login .div__login-input {
  position: relative;
  margin-right: -140px;
  left: -30px;
}
.div__login .div__login-input input {
  width: 80%;
  padding: 12px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 45px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.div__login .div__login-input label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 22px 0;
  font-size: 16px;
  margin-left: 10px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
/*Animacion label texto*/
.div__login .div__login-input input:focus ~ label,
.div__login .div__login-input input:valid ~ label {
  top: -20px;
  left: 0;
  color: yellow;
  font-size: 12px;
}
/*diseño boton ingreso*/
.div__login form .buton {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #faed27;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  background: none;
  border: #faed27;
  margin-top: 30px;
  letter-spacing: 3px;
}
.buton {
  margin-right: 50px;
}
.registarse {
  text-decoration: none;
  color: #fff;
  margin-left: 15px;
  margin-right: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/*Efecto boton registro*/
.registarse:hover {
  cursor: pointer;
  color: #faed27;
}

/*HOVER EFECTO BOTON INGRESAR*/
.div__login .buton:hover {
  background: #faed27;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #faed27, 0 0 25px #faed27, 0 0 50px #faed27,
    0 0 100px #faed27;
  cursor: pointer;
}
/*MODAL REGISTRO*/
.modal-content {
  font-family: "Roboto Condensed";
}
.modal-body {
  display: flex;
  flex-direction: column;
  background-color: #edf2f4;
}

.modal-header {
  background-color: #8d99ae;
}

.modal-footer {
  background: rgb(235, 5, 5);
  font-size: 1em;
}

/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Barra de navegación */
.navbar {
  background-color: #746b6b;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Logo */
.logo img {
  width: 100px; /* Ajusta el tamaño de acuerdo a tu logo */
  height: auto;
}

/* Menú hamburguesa (mobile first) */
.menu-toggle {
  display: none;
}

.menu-icon {
  font-size: 35px;
  cursor: pointer;
  margin-right: 49%; /* Ajusta el espacio a la derecha del icono */
}

/* Lista de navegación (oculta inicialmente) */
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none; /* Oculta la lista por defecto en dispositivos móviles */
}

.nav-list li {
  margin-right: 20px;
}

.nav-list a {
  text-decoration: none;
  color: rgb(232, 227, 245);
  transition: color 0.5s;
}

/* Estilos hover y active para la lista del menú hamburguesa */
.nav-list a:hover {
  color: #d400ff; 
}

/* Mostrar la lista de navegación cuando el menú hamburguesa está activo */
.menu-toggle:checked + .menu-icon + .nav-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 105px; /* Ajusta la posición */
  right: 0;
  background-color: #746b6b;
  width: 100%; /* Ocupa todo el ancho */
  text-align: center; /* Centra el contenido */
  padding: 10px; /* Espacio interior para centrar los elementos */
}

.menu-toggle:checked + .menu-icon + .nav-list li {
  margin: 10px 0;
  
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
      opacity: 0; /* Inicialmente,  menú  completamente transparente */
  }
  to {
      opacity: 1; /* Al final,  menú  completamente visible */
  }
}

/* Mostrar la lista de navegación en dispositivos más grandes */
@media (min-width: 768px) {
  .menu-toggle {
      display: none;
  }

  .nav-list {
      display: flex;
      justify-content: flex-end;
  }

  .nav-list li {
      margin-right: 20px;
  }

  .nav-list a {
      font-size: 18px;
  }

  .menu-icon {
      display: none;
      
  }
}

.carousel-caption {
background-color:#007bff8a;
}


/* Línea de carrusel o slider */
.linea {
  max-width: 100%;
  height: 15px;
  background-color: #007bff;
}

      .Nuest_Productos{width:100%;
                       height:30%;
                       margin-top:3% ;   
                      text-align: center;
                      color: #007bff;

                  }

      .titulo{font-size:60px; }            

/* Contenedor */
.container {
  max-width: 1200px;
  margin: 100px auto; /* Centrar el contenedor horizontalmente */
  padding: 20px;
  box-sizing: border-box; /* Incluye el padding en el ancho máximo */
  text-align: center;
}

/* Div de productos */
.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 7px;
  padding: 5px;
  text-align: center;
  max-width: 300px;
  display: inline-block;
  vertical-align: top;
}

/* Contenedor de imagen */
.product-card img {
  max-width: 100%;
  height: auto;
}

/* Tamaño de fuente */
.product-card h2 {
  font-size: 1.5rem;
}

/* Tamaño de fuente para texto */
.product-card p {
  font-size: 1rem;
  color: #888;
}

/* Botones */
.btn-details, .btn-buy {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.btn-buy {
  background-color: #28a745;
}



/* Columnas del footer */
.column {
  width: calc(33.33% - 20px);
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  text-align: center;
  box-sizing: border-box;
}

.column:last-child {
  margin-right: 0;
}

.column h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Tamaño de iconos del footer */
.column .bi-facebook, .bi-instagram, .bi-whatsapp {
  font-size: 30px;
  margin: 6px;
  padding: 4px;
}

/* Estilos para la casilla de suscripción */
.subscription-box {
  max-width: 250px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 1px;
  text-align: center;
}

/* Estilos para el campo de correo electrónico */
.email-input {
  width: 100%;
  padding: 4px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 1px;
}

/* Estilos para el botón de suscripción */
.subscribe-button {
  background-color: #007BFF;
  color: #fff;
  margin: 9px;
  padding: 6px 10px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}


/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Estilos para el botón de suscripción al pasar el mouse */
.subscribe-button:hover {
  background-color: #0056b3;
}

/* Media queries para pantallas móviles pequeñas */
@media (max-width: 480px) {
  /* Agrega aquí los estilos específicos para pantallas móviles pequeñas */


      /* Contenedor */
.container {
  max-width: 1200px;
  margin: 10px auto; /* Centrar el contenedor horizontalmente */
  padding:5px;
  box-sizing: border-box; /* Incluye el padding en el ancho máximo */
  text-align: center;
}

/* Div de productos */
.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 7px;
  padding: 5px;
  text-align: center;
  max-width:100%;      /****  tarjeta de productos//// se recomienda el 100% ****/
  display: inline-block;
  vertical-align: top;
}

/* Contenedor de imagen */
.product-card img {
  max-width: 100%;
  height: auto;
}

/* Tamaño de fuente */
.product-card h2 {
  font-size: 1.5rem;
}

/* Tamaño de fuente para texto */
.product-card p {
  font-size: 1rem;
  color: #888;
}

/* Botones */
.btn-details, .btn-buy {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.btn-buy {
  background-color: #28a745;
}



/* Columnas del footer */
.column {
  width:100%; 
  display: inline-block;
  vertical-align: top;
  margin-right:10px;
  text-align: center;
  box-sizing: border-box;
}

.column:last-child {
  margin-right: 0;
}

.column h3 {
  font-size: 20px;
  margin-bottom: 10px;
}



}

/* Media queries para tablets */
@media (min-width: 481px) and (max-width: 1024px) {
  /* Agrega aquí los estilos específicos para tablets */


  /* Contenedor */
.container {
  max-width: 1200px;
  margin: 100px auto; /* Centrar el contenedor horizontalmente */
  padding: 20px;
  box-sizing: border-box; /* Incluye el padding en el ancho máximo */
  text-align: center;
}

/* Div de productos */
.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 7px;
  padding: 5px;
  text-align: center;
  max-width: 40%;/****  tarjeta de productos//// se recomienda el 40% ****/
  display: inline-block;
  vertical-align: top;
}

/* Contenedor de imagen */
.product-card img {
  max-width: 100%;
  height: auto;
}

/* Tamaño de fuente */
.product-card h2 {
  font-size: 1.5rem;
}

/* Tamaño de fuente para texto */
.product-card p {
  font-size: 1rem;
  color: #888;
}

/* Botones */
.btn-details, .btn-buy {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.btn-buy {
  background-color: #28a745;
}

/* Columnas del footer */
.column {
  width:100%; 
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  text-align: center;
  box-sizing: border-box;
}

.column:last-child {
  margin-right: 0;
}

.column h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
}

/* Media queries para televisores de 32 pulgadas */
@media (min-width: 1025px) and (max-width: 1360px) {
  /* Agrega aquí los estilos específicos para televisores de 32 pulgadas */
}
/*CONTACTO STYLES*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: orange;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background: #e39403;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 1 LAYOUT */
body { text-align: center; font:300 20px/1.7 'Roboto Condensed';}


.list-productos {display: flex; align-items: center; justify-content: center;}
.list-productos figure { display: flex; justify-content: center; align-items: center; flex-flow: column;}


.btn { border: 2px solid #fff; padding: 10px 40px; display: inline-block; text-decoration: none; color: #fff;}

/* 3 PARTS OF WEB */
.content { padding: 80px 0;}

  .who {background: #e3dd30; color: #fff;}
  .who p { max-width: 1055px; margin: 0 auto;}
  .who {background: #e3dd30; color: #fff;}
  .productos {background: #29cae3;color: #fff;}
  .promociones {height: 450px;background: #e3dd30; background-size: cover; color: #fff;}
    .contain {max-width: 450px; margin: 0 auto;}

  .who {background: #e3dd30; color: #fff;}
  .localization {color: #29cae3; padding-bottom: 0;}
    .localization .map  {max-width: 100%; width: 100%;}

/* 4 LIST  */

.list-productos figure { position: relative; width: 150px; height: 190px;}
.list-productos figure:after {content: ""; position: absolute; top: 0; left: 0; border-radius: 50%; z-index: 0; background: #fff; width: 150px; height: 150px;}
  .list-productos img {position: relative; z-index: 1;}
.list-productos li { padding: 0 30px; }
.list-productos figcaption { position: relative; left: 0; right: 0; bottom: -40px;}


