/*ESTILO DE PÁGINA INDEX*/
.contenedor-index{
  margin-bottom: 20px;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px; /* Ajusta la altura según tus necesidades */
  overflow: hidden;
}

.carousel .frase-container {
  width: 100%;
  height: auto;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  font-size: 20px;
  color: rgb(151, 28, 28)
}


/*version mobile*/
@media (max-width: 479px) {
  .carousel-container {

    
    max-width: 300px;
    }
    #carousel-container{
      display: none;
    }

    .product-card {
      max-width: 100%; /* Asegura que las tarjetas ocupen el 100% del ancho en pantallas pequeñas */
  }
  
}


@keyframes carouselAnimation {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(-100%);
  }
}
main a {
  text-decoration: none;
  color: white;
  padding: 10px 20px; /* Aumenta el padding para hacer el botón más grande */
  transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
  font-size: 16px;
}

main a:hover {
  color: rgb(245, 150, 73);
  transform: scale(1.55);
  box-shadow: 0 0 15px rgba(243, 182, 69, 0.5); /* Aumenta el tamaño y la intensidad de la sombra */
}

main a:active {
  color: rgb(235, 110, 51);
  transform: scale(0.55);
  box-shadow:  0 0 10px rgba(263, 182, 69, 1.4);
}
